# Configuración General
LOG_LEVEL=INFO
EXITO_ENABLED=true
ALKOSTO_ENABLED=true

# Infraestructura
REDIS_URL=redis://redis:6379/0
MONGO_URL=mongodb://admin:adminpassword@mongodb:27017
MONGO_DB_NAME=webscraping

# Credenciales DB (Usadas por el contenedor de Mongo)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword

# Seguridad (JWT)
# Puedes generar una clave con: openssl rand -hex 32
SECRET_KEY=your-super-secret-key-change-me-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
